/* ================= Global blocks ================= */

body
{
  background-color: floralwhite;
  font-family: 'Mali', cursive;
  height: 100%;
  margin: 0px;
  text-align: justify;
}

div
{
  display: block;
}

h1, h2, h3
{
  font-family: 'Lobster', cursive;
}

h2, h3
{
  font-size: 160%;
}

h3
{
  font-size: 100%;
}

li
{
  list-style: unset;
}

hr
{
  margin: 30px 0 10px 0;
}

a:link
{
  text-decoration: none;
}

a:hover
{
  text-decoration: none;
  color:red;
}

*::selection
{
  color: hotpink;
}

/* ================= Header blocks ================= */

.header
{
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 1%;
  background-color: #B3E5FC;
  border-bottom: outset;
  border-color: #6cccf9;
}

.mainTitle
{
  display: block;
  position: relative;
  text-align: center;
}

.kiwi
{
  padding-left: 10px;
  height: 60px;
  width: 60px;
}

#access_icon
{
  display: inline;
  position: relative;
  left: 97%;
  max-width: 2%;
  height: auto;
}


/* ================= Content blocks ================= */

.content
{
  width: 74%;
  padding: 0 20px 20px 20px;
  position:relative;
  float:left;
  border-right: 1px solid;
  border-color: lightgrey;
}

.economy, .social, .loc
{
  background-color: white;
  padding: 1px 20px 5px 20px;
  overflow: auto;
  max-height: 600px;
  position: relative;
}

.economy
{
  top: 15px;
}

.social
{
  top: 30px;
}

.loc
{
  bottom: 15px;
}

.miniature
{
  height: 60%;
  width: 60%;
  margin: 0 20% 0 20%;
}

.photo
{
  height: 50%;
  width: 50%;
  margin: 0 20% 0 20%;
}



/* ================== Nav blocks ================== */

.nav
{
  float:right;
  width: 20%;
  padding-top: 1%;
  padding-left: 2%;
}

.home, .previous, .next
{
  height: 10%;
  width: 10%;
  position: relative;
}

.previous, .next
{
  display: inline-block;
  padding-left: 29.5%;
}

.home
{
  display: block;
  margin-top: 20%;
  margin-left: 50%;
}


/* ================= Footer blocks ================= */

.footer
{
    clear: both;
    position: relative;
    top: 30px;
    padding: 30px 0 30px 20px;
    background-color: #B3E5FC;
    border-top: inset;
    border-color: #6cccf9;
}

.credits
{
  font-size: 10px;
  font-style: italic;
  padding: 0 0 0 80%;
}

.sponsors
{
  display: inline-block;
  float: left;
}
