/* ================= Global blocks ================= */

body
{
  font-family: arial, sans-serif;
  font-size: 25px;
  background-color: white;
  height: 100%;
  margin: 0px;
  text-align: center;
}

*::selection
{
  color: hotpink;
}

#access_icon
{
  display: block;
  position: relative;
  filter: invert() brightness(200%);
  left: 95%;
  max-width: 2%;
  height: auto;
}

/* ================= Header blocks ================= */

#header, #footer
{
  background-color: #B3E5FC;
}

#header
{
  color: white;
  background-color: black;
  border-bottom: outset;
  border-color: lightgrey;
  padding : 2% 0 1% 0;
}

#header h1
{
  font-family: arial, sans-serif;
  display: inline-block;
  margin-right: 50px;
  margin-left: 50px;
}

.flag
{
  width: 5%;
  max-width: 80px;
  display: inline-block;
  height: auto;
}



/* ================= Content blocks ================= */

#content
{
  padding: 2%;
}


fieldset
{
  padding: 2%;
  margin: 2% 0%;
}

legend
{
  text-align: left;
}

td, th
{
  padding: 2%;
}

#content .long_input
{
  display: block;
}

.short_input
{
  width: 400px;
}

.table_title
{
  column-span: 2;
  width: 200px;
}

h1, h2, h3
{
  font-family: 'Lobster', cursive;
}

h2, h3
{
  font-size: 160%;
}

h3
{
  font-size: 100%;
}

table
{
  margin-top: 1%;
  margin-bottom: 1%;
}

/* ================= Footer blocks ================= */
#footer
{
    border-top: inset;
    border-color: lightgrey;
    background-color: black;
    color: white;
    padding: 4%;
    vertical-align: center;
}

.kiwi
{
  padding-left: 10px;
  height: 60px;
  width: 60px;
}
