body
{
    background: floralwhite;
}

.caption
{
    text-align: center;
    font-size: 12px;
}


.content
{
    text-align: center;
    margin-bottom: 4%;
    padding : 50px;
}

.description
{
    text-align:center;
    margin-bottom: 30px;
}

.header
{
    background-color: #B3E5FC;
    padding : 2%;
    text-align: center;
}

.footer
{
    width: 100%;
    background-color: #B3E5FC;
    padding: 2%;
    border: 0;
    text-align: center;
    vertical-align: center;
}

.miniature
{
    height: 35%;
    width: 35%;
}