/* ================ GLOBAL ELEMENTS ================ */

body
{
  font-family: 'Mali', cursive;
  background: floralwhite;
  margin: 0px;
  text-align: center;
}

a:link
{
  text-decoration: none;
}

a:hover
{
  text-decoration: none;
  color:red;
}

*::selection
{
  color: hotpink;
}

/* ================ HEADER ELEMENTS ================ */

.header
{
    font-family: 'Lobster',cursive;
    background-color: #B3E5FC;
    border-bottom: outset;
    border-color: #6cccf9;
    padding : 1%;
}

.header > h1
{
  display: inline-block;
}


/* ================ CONTENT ELEMENTS ================ */

.description
{
    margin: 3% 0 0 0;
}


/* ================ NAV ELEMENTS ================ */

.nav
{
    margin-bottom: 2%;
    padding : 50px;
    display: table;
}

.row
{
  display: table-row;
}

.frame
{
    font-size: 12px;
    display: table-cell;
}

.miniature
{
  max-width: 30%;
  height: auto;
}

.icon, .icon_hidden
{
  position: relative;
  display: inline;
  left: -25vw;
  max-width: 1.1%;
  height: auto;
}

.icon_hidden
{
  display: none;
}


/* ================ FOOTER ELEMENTS ================ */

#timezone
{
  position: absolute;
  top: -3.5vh;
}

#date
{
  font-family: 'Mali', cursive;
  position: relative;
  display: inline;
  background-color: floralwhite;
  width: 500px;
  left: -25vw;
}

#access_icon
{
  display: block;
  position: relative;
  left: 98%;
  max-width: 2%;
  height: auto;
}

.footer
{
    background-color: #B3E5FC;
    border-top: inset;
    border-color: #6cccf9;
    padding: 4%;
    vertical-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer a
{
  padding: 0% 12% 0 12%;
}
