/* ============== HEADER ELEMENTS ============== */

#access_icon
{
  filter: invert() brightness(200%);
  display: block;
  position: relative;
  right: -92%;
  max-width: 4%;
  height: auto;
}


/* ============= CONTENT ELEMENTS ============= */

body
{
  background-color: white;
  font-family: arial, sans-serif;
  font-size: 25px;
  margin: 0;
}

#Site_map
{
  padding-bottom: 15vh;
}

.icon
{
  display: inline-block;
  height: 4%;
  width: 4%;
}

#Site_map h1
{
  display: block;
  position: relative;
  font-family: arial, sans-serif;
  font-size: 45px;
  color: white;
  padding: 2% 0 2% 45%;
  margin: inherit;
  background-color: black;
  border-bottom: outset;
  border-color: lightgrey;
}

#Site_map h2
{
  font-family: arial, sans-serif;
  font-size: 35px;
  display: block;
  font-weight: lighter;
  padding-top: 1%;
}

p
{
  white-space: pre;
}

h2+ul
{
  display: none;
}

li>ul
{
  display: none;
}

a
{
  text-decoration: none;
}


/* ============= FOOTER ELEMENTS ============= */

.footer
{
  background-color: black;
  border-top: inset;
  border-color: lightgrey;
  color: white;
  padding: 4%;
  vertical-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer_caption
{
  display: inline-block;
  float: left;
}

.kiwi
{
  display: inline-block;
  position: relative;
  left: 70%;
  height: 60px;
  width: 60px;
}

.kiwi_caption
{
  clear:both;
  display: inline-block;
  position: relative;
  left: 70%;
  white-space: pre;
  font-size: 12px;
}
