/* ============== GLOBAL ELEMENTS ============== */
body
{
    background-color: floralwhite;
    font-family: arial, sans-serif;
    font-size: 25px;
    margin: 0;
}


*::selection
{
  color: hotpink;
}

/* ============== HEADER ELEMENTS ============== */
h1
{
  display: block;
  position: relative;
  font-size: 45px;
  color: white;
  top: 50px 0 0 0;
  padding: 2% 0 1% 0;
  background-color: black;
  border-bottom: outset;
  border-color: lightgrey;
  margin: inherit;
  padding-left: 40%;
  margin-bottom: 3%;
}

#access_icon
{
  display: block;
  position: relative;
  filter: invert() brightness(200%);
  left: 96%;
  max-width: 3%;
  height: auto;
}


/* ============== CONTENT ELEMENTS ============== */
table
{
    border-style : solid;
    border-color : grey;
    border-width : 1px;
    text-align: center;
    border-collapse: collapse;
    margin : auto;
    font-family: Mali;
}

td,th
{
    border-style : solid;
    border-color : grey;
    border-width : 1px;
    padding: 12px 7px 12px 7px;
}

thead
{
  font-family: Lobster;
  font-weight: lighter;
}

.miniature
{
  height: 10%;
  width: 10%;
}

/* ============== FOOTER ELEMENTS ============== */

.kiwi
{
  padding-top: 25px;
  padding-left: 48%;
  height: auto;
  width: 6%;
}

.kiwi_caption
{
  white-space: pre;
  padding-left: 45%;
}
